* {
  outline: none !important;
}

/* Modal and Modal Overlay */

.modal-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.modal {
  position: relative;
  margin-top: 5vh;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  width: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  @apply rounded-lg;
}

.modal-mini {
  width: 600px;
}

.modal.modal-promotion {
  background-color: transparent;
  background-image: url('/img/modalUpgradeWallpaper.png');
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .modal-overlay {
    padding: 0 15px;
  }
  .modal {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
}

/* Snackbar */

@media (max-width: 767px) {
  .brancol_snackbar {
    position: fixed !important;
    width: calc(100% - 20px) !important;
    top: 10px !important;
    left: 10px !important;
    padding: 20px 20px !important;
    right: auto !important;
    bottom: auto !important;
    z-index: 5000 !important;
  }
}

@media (min-width: 768px) {
  .brancol_snackbar {
    position: fixed !important;
    z-index: 5000;
  }
}
